#row1{
	border-radius: 0px !important;
}


#InnerContainer{

margin: 0 auto;
text-align:center;
}


.center{

text-align:center;

}


.panel-default>.panel-heading{
	background-color: rgb(255,82,0) !important;
	background-image: none !important; 
	background-color: rgb(255,82,0) !important;
}

.panel-default>.panel-heading>.panel-title{
	color:white;
	text-align: left;

}

.panel-default{
	border-color: grey !important;
    width: 100%;
}

#pop{
	/*background-color: red !important;*/

}


.modal-dialog{
		border-radius: 0px;	
}


.panel{
	box-shadow: 0px 0px 0px 1.5px #ccc;
	border-radius: 0px;
}

.panel-heading{
	border-radius: 0px;
}	

.profile-panel{
	padding-bottom: 50px;
}


